# API-ключ для Exchange Rates Data API
EXCHANGE_API_KEY=your_api_key_here

# Формат сообщения лога
LOG_MESSAGE_FORMAT=your_log_message_format

# Формат даты/времени лога
LOG_DATE_FORMAT=your_log_date_format